">
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>${env.NEXUS_USR}</username>
      <password>${env.NEXUS_PWD}</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>${env.NEXUS_USR}</username>
      <password>${env.NEXUS_PWD}</password>
    </server>
  </servers>
</settings>

